/* HEADER */

.header{
  display: flex;
  /* background-color: black; */
  height: 4rem;
  width: 100%;
  box-shadow: rgb(172, 172, 172) 10px 0px 10px 2px;
  justify-content: space-between;
  /* align-items: center; */
}
.header-right{
  padding: 0 1rem;
}

/* LOGIN */
.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-box{
 height: 25rem;
  width: 23rem;
  margin-top: 12rem;
}

.container{
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  align-items: center;
  justify-content: center;
}
.main-section{
  /* background-color: red; */
  height: 35rem;
  width: 23rem;
}
.main-box{
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 23rem;
  display: flex;
  background-color: rgb(194, 194, 194);
  margin: 3rem 0 0 0;
  border-radius: 8px;

}
.dropdown{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.btn-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 0 0 ;
}









.select{
  border: 1px solid black;
  width: 5rem;
  display: flex;
  /* justify-content: center; */
}
.space{
  width: 10rem;
  height: 1.8rem;
}
.d-flex{
  display: flex;
}
.justify-c{
  justify-content: center;
}
.align-c {
  align-items: center;
}